<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUappWhjkM48JrLncTkb32bEU9_jtO_Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>914169893040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-9cmggy</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-9cmggy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914169893040:ios:a8af9eb13b34ecdd9c6b75</string>
</dict>
</plist>